
<%= form_with model: [@community, Post.new] do |form| %>
  <div class="mb-3">
    <%= label_tag :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= label_tag :body %>
    <%= form.text_area :body, class: "form-control" %>
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary" style="width: 100%;"><% if @community.posts.size == 0 %>Create your first post<% else %>Create post<% end %></button>
  </div>
<% end %>
