<div class="card">
  <div class="card-body">
    <span class="d-flex">
      <h6><small>Posted by u/<%= Account.find(post.account_id).user_name %> <%= time_ago_in_words(post.created_at).gsub("about", "") %></small></h6>
    </span>
    <%= link_to community_post_path(post.community_id, post.id), style: "text-decoration: none; color: black;" do %>
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.body %></p>
    <% end %>
    <div class="card-footer bg-transparent">
      <%= link_to community_post_path(post.community_id, post.id), style: "text-decoration: none; color: black;" do %><button class="btn btn-outline-secondary"><i class="bi bi-chat-left"></i><%= post.total_comments %> comments</button><% end %> &nbsp;
      <button class="btn btn-outline-secondary"><i class="bi bi-arrow-90deg-left"></i> Share</button> &nbsp;
      <button class="btn btn-outline-secondary"><i class="bi bi-box-arrow-down"></i> Save</button> &nbsp;
      <% if current_account and post.account_id == current_account.id %>&nbsp; 
        <div class="btn-group">
          <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Actions
          </button>
          <ul class="dropdown-menu">
            <li><%= button_to "Delete post", community_post_path(post.community_id, post.id), method: :delete, confirm: "Are you sure?", class: "dropdown-item" %></li>
            <li><%= link_to "Edit post", edit_community_post_path(post.community_id, post.id), class: "dropdown-item" %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>
