<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= @post.title %></a>
      <span class="navbar-text float-end">
        <%= link_to "X close", :back %>
      </span>
    </div>
  </nav>
  <div>
    <div class="row row-cols-sm-1 row-cols-lg-2">
      <div class="col-12 col-lg-9 p-2">
        <div class="container">
          <div class="card">
            <div class="card-body">
              <h6>r/<%= @post.community.name %> . <small>Posted by u/<%= Account.find(@post.account_id).user_name %></small></h6>
              <h5 class="card-title"><%= @post.title %></h5>
              <p class="card-text"><%= @post.body %></p>
            </div>
          </div>
        </div>
        <br/>
        <div class="container">
          <%= render partial: 'comments/form' %>
        </div>
        <% if @post.comments.size > 0 %>
          <div class="container">
            <%= render partial: 'comments/comments' %>
          <% end %>
        </div>
      </div>
      <div class="col col-lg-3 p-2">
        <div class="card">
          <div class="card-body">
            <%= link_to community_path(@post.community_id) do %>
              <h5 class="card-title">r/<%= @post.community.name %></h5>
              <h6 class="card-text"><%= @post.community.slogan %></h6>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
