<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><%= @post.title %></a>
      <span class="navbar-text float-end">
        <%= link_to "X close", :back %>
      </span>
    </div>
  </nav>
  <br/>
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
    <div class="col-12 col-lg-9 p-2">
      <%= render partial: 'posts/post_template', locals: { post: @post } %>
      <br/>
      <br/>
      <% if current_account %>
        <%= render partial: 'comments/form', locals: {parent: nil} %>
      <% end %>
      <% if @post.comments.size > 0 %>
        <%= render partial: 'comments/comments', locals: {parent: nil} %>
      <% end %>
    </div>
    <div class="col-12 col-lg-3 p-2">
      <div class="card">
        <div class="card-body">
          <%= link_to community_path(@post.community_id) do %>
            <h5 class="card-title">r/<%= @post.community.name %></h5>
            <h6 class="card-text"><%= @post.community.slogan %></h6>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of main container -->
