<div class="container">
  <%= form_for(@community) do |form| %>
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <%= label_tag :name %>
          <%= form.text_field :name, class: "form-control", id: "name-input" %>
        </div>
      </div>
      <div class="col">
        <%= label_tag :url %>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">r/</span>
          <%= form.text_field :url, class: "form-control", id: "community-url" %>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <%= label_tag :slogan %>
      <%= form.text_area :slogan, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= label_tag :description %>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= label_tag :rules %>
      <%= form.text_area :rules, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.submit %>
    </div>
  <% end %>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("name-input").addEventListener("input", function() {
      var name = document.getElementById("name-input").value;
      var url = name.toLowerCase().replace(/ /g, "-");
      document.getElementById("community-url").value = url;
    });
  });
</script>
