<div id="blue-box" style="height: 50px; background-color: #33a8ff;"></div>
<div id="white-box" style="height: 100%; background-color: white;">
  <div style="width: 40%; margin: 0 auto;">
    <h2 class="float-left">Here - <%= @community.slogan %> <% if current_account and @community.account_id == current_account.id %><%= link_to "- Edit", edit_community_path(@community.id) %><% end %></h2>
    <h5>r/<%= @community.url %></h5>
  </div>
</div>
<br/>
<div class="container">
  <div class="row row-cols-sm-1 row-cols-lg-2">
    <div class="col-12 col-lg-9">
      <% if current_account %><%= render 'posts/form' %><% end %>
      <% @posts.each do |post| %>
        <%= render partial: 'posts/post_template', locals: { post: post } %>
        <br/>
      <% end %>
    </div>
    <div class="col col-lg-3">
      <div class="card">
        <div class="card-header" style="background-color: #0079D3; color: white;">
          About Community
        </div>
        <div class="card-body">
          <h6 class="card-text"><%= @community.description %></h6>
          <br/>
          <div class="d-flex" style="flex-direction: column;">
            <h5><%= @community.total_members.to_i %></h5>
            <p style="font-size: 0.9rem">members</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
