<div id="blue-box" style="height: 50px; background-color: #33a8ff;"></div>
<div id="white-box" style="height: 100%; background-color: white;">
  <div style="width: 40%; margin: 0 auto;">
    <h2 class="float-left">Here - <%= @community.slogan %></h2>
    <h5>r/<%= @community.name %></h5>
  </div>
</div>

<br/>
<div class="container">
  <div class="row row-cols-sm-1 row-cols-lg-2">
    <div class="col-12 col-lg-9">
      <%= render 'posts/form' %>
      <% @posts.each do |post| %>
        <div class="card">
          <div class="card-body">
            <span class="d-flex">
              <h6><small>Posted by u/<%= Account.find(post.account_id).user_name %> <%= time_ago_in_words(post.created_at).gsub("about", "") %></small></h6>
            </span>
            <%= link_to community_post_path(post.community_id, post.id), style: "text-decoration: none; color: black;" do %>
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.body %></p>
            <% end %>
            <div class="card-footer bg-transparent">
              <%= link_to community_post_path(post.community_id, post.id), style: "text-decoration: none; color: black;" do %><button class="btn btn-outline-secondary"><i class="bi bi-chat-left"></i><%= post.comments.size %> comments</button><% end %> &nbsp;
              <button class="btn btn-outline-secondary"><i class="bi bi-arrow-90deg-left"></i> Share</button> &nbsp;
              <button class="btn btn-outline-secondary"><i class="bi bi-box-arrow-down"></i> Save</button> &nbsp;
              <!-- Example single danger button -->
              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  Actions
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Edit post</a></li>
                  <% if post.account_id == current_account.id %>&nbsp; 
                    <li><%= button_to "Delete post", community_post_path(post.community_id, post.id), method: :delete, confirm: "Are you sure?", class: "btn btn-danger dropdown-item" %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
    <div class="col col-lg-3">
      <div class="card">
        <div class="card-header" style="background-color: #0079D3; color: white;">
          About Community
        </div>
        <div class="card-body">
          <h6 class="card-text"><%= @community.description %></h6>
          <br/>
          <div class="d-flex" style="flex-direction: column;">
            <h5><%= @community.total_members.to_i %></h5>
            <p style="font-size: 0.9rem">members</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

